# Configurações do Projeto
# Obtenha sua chave no AI Studio (https://aistudio.google.com/)
PHOTO_API_KEY=sua_chave_gemini_aqui

# As chaves abaixo são preenchidas automaticamente pelo sistema Firebase do AI Studio
# Mas podem ser configuradas manualmente se você exportar o projeto.
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
